* {
  /* border-top: 10px solid #1098ad; */
  margin: 0px;
  padding: 0px;
}
body {
  font-family: sans-serif;
  color: #444;
  /* border-top: 10px solid red; */
  position: relative;
}
article {
  margin-bottom: 60px;
}
.main-header {
  color: #f7f7f7;
  background-color: red;
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 60px; */
}
.post-header {
  margin-bottom: 40px;
  /* position: relative; */
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0px;
  width: 500px;
}
/* h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
} */
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
  line-height: 1.5;
  /* display: inline; */
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
  /* display: inline; */
}
li:last-child {
  margin-bottom: 0px;
}
/* footer p {
  font-size: 16px;
} */
/* article header p {
  font-style: italic;
} */

#author-posted {
  font-size: 16px;
  font-style: italic;
}

#copyright {
  font-size: 16px;
}
.related-posted {
  list-style: none;
}
.author {
  font-weight: bold;
  font-size: 18px;
}

body {
  /* background-color: red; */
}

/* .first-child {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
li:nth-child(2) {
  color: red;
}
/* article p:first-child {
  color: red;
} */

article p:last-child {
  color: red;
}
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}
a:active {
  font-style: italic;
  background-color: black;
}
/* Id is the most piriority */
#copyright {
  color: red;
}
.copyright {
  color: green;
}
.text {
  color: yellow;
}
footer p {
  color: blueviolet !important;
}
nav {
  font-size: 20px;
  text-align: center;
}

/* nav a:link,
nav p {
  font-size: 20px;
} */
nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px;

  display: block; */
  margin-right: 20px;
  margin-top: 10px;
  display: inline-block;
}
nav a:link:last-child {
  margin-right: 0;
}
.post-img {
  height: auto;
  width: 100%;
}
.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  /* position: relative; */
}
button {
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  /* left: 50px;
  top: 50px; */
  bottom: 50px;
  right: 50px;
}
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}
h3 + p::first-line {
  color: red;
}
h2 {
  /* background-color: orange; */
  position: relative;
}
h2::after {
  content: "TOP";
  font-weight: bold;
  font-size: 16px;
  background-color: #ffe70e;
  color: #444;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}
/*Layouts*/
.author {
  margin-top: 10px;
  /* padding-left: 80px; */
  float: left;
  margin-left: 20px;
}
.author-img {
  float: left;
  margin-bottom: 20px;
}
h1 {
  float: left;
}
nav {
  float: right;
}
.clear {
  clear: both;
}
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}
