.body {
  font-family: sans-serif;
  line-height: 1.4px;
}
.product {
  border: 2px solid black;
}
.product-title {
  text-align: center;
  font-size: 22px;
  background-color: #f7f7f7;
  text-transform: uppercase;
}
.price {
  font-size: 22px;
}
.shipping {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #777;
}
